@model IEnumerable<TeamOrganizer.Models.Employee>

@{
    ViewBag.Title = "Panel użytkownika";
}

<script>

    //Functon to show divs from the nav menu
    function ShowDiv(ToShow)
    {
        if (ToShow == 'profile') {
            document.getElementById('profile').style.display = "";
            document.getElementById('team').style.display = "none";
            document.getElementById('tasks').style.display = "none";
        }
        else if (ToShow == 'team') {
            document.getElementById('profile').style.display = "none";
            document.getElementById('team').style.display = "";
            document.getElementById('tasks').style.display = "none";
        }
        else if (ToShow == 'tasks') {
            document.getElementById('profile').style.display = "none";
            document.getElementById('team').style.display = "none";
            document.getElementById('tasks').style.display = "";
        }
        $(".nav li").on("click", function () {
            $(".nav li").removeClass("active");
            $(this).addClass("active");
        });
    }

    function DefaultToShow(ToShow)
    {
        document.getElementById(ToShow).style.display = "";
        $(".nav li").addClass("active");
    }
</script>

<h2>Panel Pracownika</h2>
<div class="ShowDiv('profile');">
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="#profile" onclick="ShowDiv('profile');">Profil</a></li>
        <li role="presentation"><a href="#team" onclick="ShowDiv('team');">Zespół</a></li>
        <li role="presentation"><a href="#tasks" onclick="ShowDiv('tasks');">Zadania</a></li>
    </ul>
</div>



<div id="profile" style="display: none;">
    <div class="col-md-6">
        <section id="image">
            <img src="~/images/indeks.png" alt="Sample Photo" />
        </section>
    </div>
    <div class="col-md-2">
        <section id="data">
            <table class="table">
                <tr>
                    <td>Pracownik:</td>
                    <td>Adam</td>
                    <td>Cegiełka</td>
                </tr>
                <tr> <td>Manager:</td>
                    <td>Andrzej</td>
                    <td>Nowak</td>
                </tr>
                <tr>
                    <td>Punkty: 30</td>
                </tr>
                <tr>
                    <td>Planowany urlop:</td>
                </tr>
            </table>
        </section>
    </div>
</div>
<div id="team" style="display: none;">
    <table class="table">
        @foreach (var item in Model.Where(i => i.TeamID == 1))
            {
            <tr>
                <td>@Html.DisplayFor(m => item.Name)</td>
                <td>@Html.DisplayFor(m => item.Surname)</td>

            </tr>

        }
    </table>

</div>
<div id="tasks" style="display: none;">
    <p>
        Tu będą wyświetlone zadania przypisane do tego pracownika.
    </p>
</div>

